<%- include("partials/header.ejs") %>
<div class="float">

<h2>Deleted</h2>
</div>
<p class="float"><%= message %></p>
<p class="float">Post has been successfully Deleted. Click&nbsp;&nbsp;<a href="/">here</a>&nbsp;&nbsp;to view homepage. </p>

