<%- include("partials/header.ejs") %>
<div class="float">

<h2>Updated</h2>
</div>



<p class="float">Post has been successfully updated. Click&nbsp;&nbsp;<a href="/books">here</a>&nbsp;&nbsp;to view. </p>